/* Google Fonts import URL */
@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Tangerine:wght@400;700&display=swap');

/* General Styles */

body {
    font-family: 'Nobile', sans-serif;
    background-color: #F2FAEF;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    z-index: 13;
}

#logo {
    color: #295900;
    /* Chose a cursive font as fall-back to be more similar to the logo */
    font-family: 'tangerine', cursive; 
    font-size: 125%;
    text-decoration: none;
    text-wrap: nowrap;
}

/* Navigation bar */
.nav-item a {
    color: #000000;
    text-decoration: none;
}

.nav-item {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    display: inline;
    text-align: center;
}

.active {
    border-bottom: #295900 1px solid;
}


/* Main Content */
main {
    margin-top: 75px;
}


/* Footer */
footer {
    margin-top: auto;
}
.coordinates {
    color: #295900;
}

#coordinates div{
    margin-bottom: 16px;
}

.social-networks {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.social-networks li {
    display: inline;
    padding: 10px;
    font-size: 110%;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* larger or landscape phones (576px or larger) */
@media screen and (min-width: 576px) {
    /* Footer */
    #coordinates > div  {
    display: inline-block;
    }

    #social > div, #social > ul {
        display: inline;
    }

    .coordinates {
        padding: 0 10px;
    }

}