/* Header */
header{
    background-color: #295900;
    color: #ffffff;
}
/* Main Content */
main{
    background-color: #d8e8cd;
}
/* Footer */
footer{
    background-color: #295900;
    color: #ffffff;
}